body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, #068b78 0%, #9ed79a 100%);
}

a {
  color: #068b78;
}

img {
  max-width: 20%;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 18px;
}

.App-footer a {
  color: #f7cc0e;
}
